<html>
  <head>
    <title>Welcome!</title>
  </head>
  <body>
    <div id='main'> <!-- html 에서의 주석 표현-->
      <h3> Subscription </h3>

      <br>
      <!-- form 생성, html 내에서 다른 요청 가능-->
      <form method="post" action='subscription_post'>
          <!-- 입력 후 주기-->
        <label> ID </label>
        <input type='text' name='ID'/> <br/>
        <label> PWD </label>
        <input type='password' name='PWD'/> <br/>
        <input type='submit' value='register' />   <!-- simple_post로 쏴줌-->
      </form>

   </div>
  </body>
</html>
